::-webkit-scrollbar {
	color: #aba499;
	background-color: #202324;
}

::-webkit-scrollbar-thumb {
	background-color: #454a4d;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #575e62;
}

::-webkit-scrollbar-thumb:active {
	background-color: #484e51;
}

::-webkit-scrollbar-corner {
	background-color: #181a1b;
}

*, a {
	color: #fff;
	scrollbar-color: #454a4d #202324;
}

body {
	font: 20px/23px Homenaje, Impact, sans-serif;
	display: flex;
	flex-direction: column;
	min-width: 440px;
	height: 100vh;
	cursor: pointer;
	text-align: center;
	background: #0c0032 url(images/background.avif) no-repeat;
	background-size: 100.885% auto;
	-webkit-tap-highlight-color: transparent;
}

body > * {
	-webkit-tap-highlight-color: initial;
}

@media (any-pointer: fine) {
	body {
		cursor: default;
	}
}

.webp {
	background-image: url(images/background.webp);
}

.jpg {
	background-image: url(images/background.jpg);
}

@media (max-width: 1920px) {
	body {
		background-size: auto;
	}
}

body > * {
	flex-shrink: 0;
}

::selection {
	background: #fbb406;
}

h1, h2, h3 {
	font-weight: normal;
	margin: 0;
}

em {
	font-style: normal;
}

#header {
	font-size: 32px;
	line-height: 1;
	margin-bottom: 10px;
	padding: 10px 0;
	text-transform: uppercase;
	border-bottom: 2px solid #f0f;
}

#header, .actionSkill, .skillTree, #overlayContainer > *, #summaryContainer {
	background-color: rgba(0, 0, 0, 0.2);
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#header > * {
	margin: 0 auto;
	text-shadow: 2px 2px 8px rgb(255 1 255 / 70%);
}

#header a {
	text-decoration: none;
}

#header h1 {
	font-size: 140%;
}

#header h2 {
	font-size: 80%;
}

@media (max-width: 532px) {
	#header h1 {
		font-size: 8.3vw;
	}
	#header h2 {
		font-size: 4.8vw;
	}
}

@media (max-width: 440px) {
	#header h1 {
		font-size: 114%;
	}
	#header h2 {
		font-size: 66%;
	}
}

#overlayContainer {
	display: flex;
	user-select: none;
	justify-content: center;
}

#overlayContainer > * {
	position: absolute;
	max-height: 452px;
	padding: 10px;
	border: 1px solid #fff;
}

#heroStats {
	width: 397px;
}

#heroStats > span {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.heroStatLabel, #heroPointsLabel, #backstoryLabel {
	float: left;
	clear: both;
	max-width: 105px;
}

.heroStatNumber {
	max-width: 28px;
	margin-right: 5px;
}

#backstorySelector, .heroStatText {
	clear: right;
	max-width: 280px;
}

.heroStatSlider, .heroStatNumber, .heroStatText, #heroPointsText, #backstorySelector {
	float: right;
}

.heroStatSlider {
	width: 160px;
	height: 5px;
	margin-top: 8px;
	border-radius: 2.5px;
	background: rgba(255, 255, 255, 0.15);
	appearance: none;
}

.heroStatSlider::-webkit-slider-thumb {
	width: 10px;
	height: 10px;
	cursor: pointer;
	border-radius: 50%;
	background-color: #fff;
	appearance: none;
}

#heroPointsLabel, #heroPointsText {
	margin-top: 5px;
}

#backstoryLabel, #backstorySelector {
	margin-top: 10px;
}

#actionSkills {
	display: flex;
	margin: auto;
	user-select: none;
	flex-wrap: wrap;
	justify-content: center;
}

#primaryActionSkills, #secondaryActionSkills {
	display: inline-flex;
	margin-bottom: 5px;
}

.actionSkill {
	position: relative;
	width: 205px;
	height: 70px;
	margin: 0 2.5px;
	cursor: pointer;
	border: 1px solid #fff;
}

#skillTrees {
	display: flex;
	margin: 0 auto 10px;
	user-select: none;
	flex-grow: 9999;
	justify-content: center;
}

#primaryTree, #secondaryTree {
	display: inline-flex;
	margin: 0 2.5px;
}

.skillTree {
	width: 207px;
	height: 397px;
}

.skills {
	display: inline-block;
	width: 174px;
	margin-top: 20px;
}

.bgLayer {
	position: absolute;
	width: 205px;
	height: 395px;
	border: 1px solid #fff;
}

.colorLayer {
	position: absolute;
	width: 205px;
	margin: 1px 0 0 1px;
	background-color: rgba(255, 255, 255, 0.25);
	background-image:
		/*repeating-linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 1px, transparent 1px, transparent 60px),
		repeating-linear-gradient(60deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 1px, transparent 1px, transparent 60px),*/
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAAB4BAMAAAC9cJlqAAAAD1BMVEUAAAD19fX////19fX///8UbiXnAAAABXRSTlMAGhoxMXv9kGQAAAFISURBVFjDrZjdcYQwEIN3VAGTCjSeKyAlpP+q8pD7DTb6sPEDZxuBznh3JajvSk2liGklJ4yrHKkqkhGMn4cljN6Oo/b1h3GkOibTv99ZjHed/W382rVEdUTmbvezbRmjQf8sxsNBZ+Xj1etgNLi7JzEKY4pxnOjEZ4tUvRlPse+mdNHTAE++n5kN7LIyFYq6j2kS4aO0FMimtxNaym5lKlRtnqdIZWtHGFBF7/VGy1VdmYqrDFG0ljBAPctAqYUwkarKAHOrazCAi/xnsvYtY8hekD0lsYFdyrqTccY8KpAXc5nUBOJk6gyGOBll08ScTAMuZcXJAG0iGge0kmjujEuZdTLAk7Spq+SLVjHzxBzcM9zBNh0tOhuZxMl4AYOczBYTDlaJMxWJOBlQIck7o8Jb9z5Kpp0MUSLiZIAykm8F5JvDT1b8X2f5EfnCVs4IAAAAAElFTkSuQmCC),
		linear-gradient(60deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1)),
		linear-gradient(120deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1));
	background-size: 70px 120px;
}

.progressLine {
	position: absolute;
	width: 205px;
	border: 1px solid #fff;
}

.skill {
	position: relative;
	float: left;
	width: 50px;
	height: 51px;
	margin: 3px;
	cursor: pointer;
	border: 1px solid #fff;
	background-color: rgba(0, 0, 0, 0.1);
}

.points {
	font-size: 15px;
	line-height: 16px;
	position: absolute;
	right: 0;
	bottom: 0;
	visibility: hidden;
	width: 25px;
	height: 15px;
	text-align: center;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
}

.actionSkill .points {
	visibility: initial;
}

.tier, .totalPoints, .className {
	clear: both;
}

.className, .totalPoints {
	font-size: 24px;
	position: absolute;
	display: block;
	width: 199px;
	margin: -6px 0 0 4px;
	text-transform: uppercase;
}

.className {
	overflow: hidden;
	max-width: 150px;
	text-align: left;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.totalPoints {
	text-align: right;
}

.visible, .visible * {
	visibility: visible!important;
}

.hidden, .hidden * {
	visibility: hidden!important;
	pointer-events: none;
}

.partial .perLevel, .full .perLevel, .disabled, .disabled * {
	display: none!important;
	pointer-events: none;
}

.description {
	position: absolute;
	z-index: 1;
	top: 0;
	display: none;
	width: 400px;
	margin-top: -1px;
	padding: 0 5px 5px;
	pointer-events: none;
	border: 1px solid #fff;
	background-color: rgba(0, 0, 0, 0.75);
}

.icon {
	width: 100%;
	height: 84px;
	filter: brightness(0.8) grayscale(1) contrast(5);
	object-fit: none;
}

.actionSkill .icon {
	height: 108px;
}

.description h2 {
	font-size: 24px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #fff;
}

@supports (text-align-last: center) {
	.description div {
		text-align: justify;
		text-align-last: center;
	}
}

#summaryContainer .icon {
	display: none;
}

.label {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90%;
	transform: translate(-50%, -50%);
}

.actionSkill .label:not(.full) {
	text-shadow: 2px 2px 8px rgb(255 1 255 / 70%);
}

.skill .label {
	font-size: 15px;
}

#primaryTree .description {
	right: calc(110% + 2px);
}

#secondaryTree .description {
	left: calc(110% + 2px);
}

.actionSkill .description {
	top: 110%;
	left: -50%;
}

.tier[data-level='4'] .description {
	top: auto;
	bottom: -60px;
}

.tier[data-level='5'] .description {
	top: auto;
	bottom: -1px;
}

@media (max-width: 1230px) {
	.description {
		position: fixed;
		top: auto!important;
		bottom: 10px!important;
		left: 50%!important;
		transform: translateX(-50%);
	}
}

#classSelectors, #extraButtons {
	display: flex;
	margin-bottom: 10px;
	user-select: none;
	justify-content: center;
}

#classSelectors > *, #extraButtons > * {
	margin: 0 2.5px;
}

select, option, button {
	height: 26px;
	padding: 0 6px;
	cursor: pointer;
	border: 1px solid #fff;
	background-color: #000;
}

select {
	padding: 0 18px 0 4px;
	background: #000 url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAwIDEwMDAiPjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik04NzUuNywxNzkuOEw1MDAsNTc3LjlMMTI0LjMsMTc5LjhMMTAsMzAxbDQ5MCw1MTkuMkw5OTAsMzAxTDg3NS43LDE3OS44eiIvPjwvc3ZnPg==") no-repeat right 4px center;
	background-size: 8px;
	-webkit-appearance: none;
	appearance: none;
}

:disabled {
	cursor: not-allowed;
}

button:active {
	background-color: #333;
}

#summaryContainer {
	margin-top: auto;
	padding: 10px 10px 0;
	border-top: 2px solid #f0f;
	flex-grow: 1;
}

#summaryContainer * {
	line-height: 1.1;
	max-width: 840px;
	margin: auto;
}

#primaryClassFeat, #secondaryClassFeat {
	float: left;
	text-align: justify;
	border-top: 1px solid #fff;
}

.classFeat {
	padding-top: 5px;
}

#summarySpacer {
	clear: both;
	height: 20px;
}

#summaryContainer .skillText {
	clear: both;
	text-align: left;
	border-top: 1px solid #fff;
}

#summaryContainer strong {
	font-size: 24px;
	font-weight: normal;
	display: block;
	float: left;
	clear: left;
	width: 200px;
	margin-top: 2.5px;
	text-align: right;
}

#summaryContainer .descriptionText {
	margin: 5px 0 5px 210px;
	text-align: justify;
}

#summaryContainer .perLevel {
	display: none;
}

#footer {
	font-size: 12px;
	margin-bottom: 5px;
	padding-top: 15px;
	text-transform: uppercase;
}

#footer a:hover {
	color: red;
}

.rainbow {
	animation: rainbow_animation 4s linear 0s infinite forwards;
	background: linear-gradient(
		90deg,
		rgb(255, 0, 0) 0%,
		rgb(255, 154, 0) 10%,
		rgb(208, 222, 33) 20%,
		rgb(79, 220, 74) 30%,
		rgb(63, 218, 216) 40%,
		rgb(47, 201, 226) 50%,
		rgb(28, 127, 238) 60%,
		rgb(95, 21, 242) 70%,
		rgb(186, 12, 248) 80%,
		rgb(251, 7, 217) 90%,
		rgb(255, 0, 0) 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200% 100%;
	text-shadow: none!important;
}

@keyframes rainbow_animation {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 200% 0;
	}
}

.description .gold, #summaryContainer .gold {
	color: gold;
}

.description .blue, #summaryContainer .blue {
	color: #08f;
}

.description .cyan, #summaryContainer .cyan {
	color: cyan;
}

.description .pink, #summaryContainer .pink {
	color: #f0f;
}

.description .purple, #summaryContainer .purple {
	color: #a0c;
}

.description .red, #summaryContainer .red {
	color: red;
}

.description .orange, #summaryContainer .orange, .partial, .partial .points {
	color: #f80;
}

.description .green, #summaryContainer .green, .full, .full .points {
	color: #0f0;
}

.skill.partial {
	background: rgba(0, 0, 0, 0.275);
}

.skill.full {
	background: rgba(0, 0, 0, 0.375);
}

@media (any-pointer: fine) {
	:hover > .description {
		display: block;
	}
}

.stamp {
	font-size: 80%;
	position: absolute;
	display: inline-block;
	overflow: visible;
	width: 0;
	height: 0;
	margin: 0.2em 0 0 0.2em;
	transform: rotate(12deg);
}

@media (max-width: 700px) {
	.stamp {
		display: none;
	}
}