::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
}

::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #575e62;
}

::-webkit-scrollbar-thumb:active {
    background-color: #484e51;
}

::-webkit-scrollbar-corner {
    background-color: #181a1b;
}

* {
	scrollbar-color: #454a4d #202324;
}

html, body {
	height: 100vh;
	min-width: 440px;
	display: flex;
	flex-direction: column;
}

body {
	background: #333 url("images/background.jpg") no-repeat fixed center center;
	background-size: cover;
	color: #fff;
	font: 15pt/17pt Homenaje, Impact, sans-serif;
	cursor: default;
	text-align: center;
}

body > * {
	flex-shrink: 0;
}

::selection {
	color: #fff;
	background: #fbb406;
}

h1, h2, h3 {
	margin: 0;
	font-weight: normal;
}

em {
	font-style: normal;
}

#header {
	font-size: 24pt;
	text-transform: uppercase;
	line-height: 1;
	padding-bottom: 8pt;
	margin-bottom: 8pt;
}

#topLinks {
	padding: 4pt;
	font-size: 60%;
}

#permaLink {
	color: #fff;
}

#resetLink {
	color: red;
}

#undoLink {
	color: #0f0;
}

#header, #summaryContainer, #overlayContainer > * {
	background-color: rgba(0, 0, 0, 0.5);
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#header h1 {
	color: #ffde09;
	font-size: 140%;
	margin: 0 auto;
}

#header h2 {
	color: #fbb406;
	font-size: 150%;
}

#header h3 {
	font-size: 80%;
}

#overlayContainer {
	position: relative;
}

#overlayContainer > * {
	max-height: 340pt;
	overflow: hidden;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	padding: 8pt;
	border: 1px solid #fff;
}

#heroStats {
	min-width: 272pt;
}

.heroStatLabel, #heroPointsLabel, #backstoryLabel {
	float: left;
	clear: right;
}

.heroStatSlider, .heroStatNumber, .heroStatText, #heroPointsText, #backstorySelector {
	float: right;
}

.heroStatSlider {
	appearance: none;
	height: 4pt;
	background: rgba(0, 0, 0, 0.75);
	border-radius: 2pt;
	margin-top: 6pt;
}

.heroStatSlider::-webkit-slider-thumb {
	appearance: none;
	width: 8pt;
	height: 8pt;
	background-color: #fff;
	cursor: pointer;
	border-radius: 50%;
}

.heroStatNumber {
	margin-right: 4pt;
}

#heroPointsLabel, #heroPointsText {
	margin-top: 4pt;
}

#backstoryLabel, #backstorySelector {
	margin-top: 8pt;
}

#actionSkills {
	font-size: 0; /* inline-block spacing hack */
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#actionSkills > * {
	font: 15pt/17pt Homenaje, Impact, sans-serif;
}

#primaryActionSkills, #secondaryActionSkills {
	display: inline-block;
}

.actionSkill {
	display: inline-block;
	position: relative;
	cursor: pointer;
	margin: 0 2pt 0;
}

#skillTrees {
	font-size: 0; /* inline-block spacing hack */
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	flex-grow: 9999;
}

#primaryTree, #secondaryTree {
	font: 15pt/17pt Homenaje, Impact, sans-serif;
	display: inline-block;
	margin: 0 2pt 0 2pt;
}

.skillTree {
	width: 207px;
	height: 396px;
}

.skills {
	width: 174px;
	display: inline-block;
	margin-top: 20px;
}

.bgLayer {
	position: absolute;
	width: 207px;
	height: 396px;
}

.green .gray {
	background: url("images/skill_bg_green_gray.png") transparent;
}

.blue .gray {
	background: url("images/skill_bg_blue_gray.png") transparent;
}

.red .gray {
	background: url("images/skill_bg_red_gray.png") transparent;
}

.green .color {
	background: url("images/skill_bg_green.png") transparent;
}

.blue .color {
	background: url("images/skill_bg_blue.png") transparent;
}

.red .color {
	background: url("images/skill_bg_red.png") transparent;
}

.skill {
	padding: 3px;
	width: 52px;
	height: 53px;
	cursor: pointer;
	position: relative;
	float: left;
}

.skill > img {
	width: 52px;
	height: 53px;
}

.points {
	visibility: hidden;
	position: absolute;
	width: 40px;
	height: 21px;
	bottom: 0;
	right: 0;
	background: url("images/points_overlay.png") transparent;
	color: #fff;
}

.actionSkill .points {
	visibility: initial;
}

.tier, .totalPoints, .className {
	clear: both;
}

.className, .totalPoints {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18pt;
	color: #fff;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	position: absolute;
	display: block;
	margin-top: 60px;
	width: 174px;
}

.className {
	text-align: left;
}

.totalPoints {
	text-align: right;
}

.partial .perLevel, .full .perLevel, .disabled, .disabled * {
	display: none!important;
	pointer-events: none;
}

.hidden, .hidden * {
	visibility: hidden!important;
	pointer-events: none;
}

.description {
	display: none;
	position: absolute;
	top: 0;
	width: 300pt;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.75);
	border: 1px solid #fff;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	color: #fff;
	padding: 0 0.25em 0.5em;
	text-align: justify;
	text-align-last: center;
}

.label {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.skill .label {
	font-size: 75%;
}

#primaryTree .description {
	right: 110%;
}

#secondaryTree .description {
	left: 110%;
}

.actionSkill .description {
	top: 110%;
	left: -25%;
}

.tier[data-level='4'] .description {
	top: auto;
	bottom: -59px;
}

.tier[data-level='4'] .description.shortTier4Description {
	top: 0;
	bottom: auto;
}

.tier[data-level='5'] .description {
	top: auto;
	bottom: 0;
}

@media (max-width: 915pt) {
	.description {
		position: fixed;
		top: auto!important;
		bottom: 8pt!important;
		left: 50%!important;
		transform: translateX(-50%);
	}
}

.description h2 {
	padding: 0.15em 0;
	margin-bottom: 0.15em;
	font-size: 125%;
	border-bottom: 1px solid #fff;
}

#classSelectors {
	margin: 8pt;
}

option, select, button {
	border: 1px solid #fff;
	background-color: #000;
	color: #fff;
}

#switchButton {
	margin: 0 auto 8pt auto;
}

#switchButton:active {
	background-color: #333;
}

#summaryContainer {
	flex-grow: 1;
	margin-top: auto;
	padding: 8pt 8pt 0;
}

#summaryContainer * {
	margin: auto;
	line-height: 1.1;
	max-width: 640pt;
}

#primaryClassFeat, #secondaryClassFeat {
	float: left;
	border-top: 1px solid #fff;
	text-align: justify;
}

.classFeat {
	padding-top: 3pt;
}

#summarySpacer {
	clear: both;
	height: 15pt;
}

#summaryContainer .skillText {
	clear: both;
	border-top: 1px solid #fff;
	text-align: left;
}

#summaryContainer strong {
	display: block;
	font-weight: normal;
	font-size: 120%;
	float: left;
	clear: left;
	width: 150pt;
	text-align: right;
}

#summaryContainer .descriptionText {
	margin: 3pt 0 3pt 160pt;
	text-align: justify;
}

#summaryContainer .perLevel {
	display: none;
}

#footer {
	font-size: 62%;
	text-transform: uppercase;
	padding-top: 12pt;
	margin-bottom: 4pt;
	color: rgba(255, 255, 255, 0.5);
}

#footer a {
	color: rgba(255, 255, 255, 0.5);
}

#footer a:hover {
	color: red;
}

/* The only thing this is used for is Elemental Damage, which is actually gold in-game.. I think this is better though. */
.rainbow {
    background: linear-gradient(
        90deg,
        rgb(255, 0, 0) 0%,
        rgb(255, 154, 0) 10%,
        rgb(208, 222, 33) 20%,
        rgb(79, 220, 74) 30%,
        rgb(63, 218, 216) 40%,
        rgb(47, 201, 226) 50%,
        rgb(28, 127, 238) 60%,
        rgb(95, 21, 242) 70%,
        rgb(186, 12, 248) 80%,
        rgb(251, 7, 217) 90%,
        rgb(255, 0, 0) 100%
    );
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: rainbow_animation 4s linear 0s infinite forwards;
	background-size: 200% 100%;
	text-shadow: none;
}

@keyframes rainbow_animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 200% 0;
    }
}

.description .gold, #summaryContainer .gold {
	color: gold;
}

.description .purple, #summaryContainer .purple {
	color: #8b008b;
}

.description .blue, #summaryContainer .blue {
	color: #08f;
}

.description .red, #summaryContainer .red {
	color: red;
}

.description .orange, #summaryContainer .orange, .partial, .partial .points {
	color: #f80;
}

.description .green, #summaryContainer .green, .full, .full .points {
	color: #0d0;
}

.skill:hover .description {
	display: block;
}

.skill:hover .description:hover {
	display: none;
}

.actionSkill:hover .description {
	display: block;
}

.actionSkill:hover .description:hover {
	display: none;
}

.green .className {
	color: #41974d;
}

.blue .className {
	color: #2a87c7;
}

.red .className {
	color: #a93640;
}

.unavailable {
	cursor: not-allowed;
}

.unavailable:hover {
	text-decoration: none;
}

.stamp {
	color: orangered;
	font-size: 80%;
	width: 0;
	height: 0;
	overflow: visible;
	display: inline-block;
	position: absolute;
	transform: rotate(12deg);
	margin: 0.2em 0 0 0.2em;
}

@media (max-width: 700px) {
	.stamp {
		display: none;
	}
}