::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
}

::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #575e62;
}

::-webkit-scrollbar-thumb:active {
    background-color: #484e51;
}

::-webkit-scrollbar-corner {
    background-color: #181a1b;
}

* {
	scrollbar-color: #454a4d #202324;
}

html, body {
	height: 100vh;
	min-width: 440px;
	display: flex;
	flex-direction: column;
}

body {
	background: #0c0032 url("images/background.avif") no-repeat;
	background-size: 100.885% auto;
	color: #fff;
	font: 15pt/17pt Homenaje, Impact, sans-serif;
	cursor: default;
	text-align: center;
}

@media (max-width: 1920px) {
	body {
		background-size: auto;
	}
}

body > * {
	flex-shrink: 0;
}

::selection {
	color: #fff;
	background: #fbb406;
}

h1, h2, h3 {
	margin: 0;
	font-weight: normal;
}

em {
	font-style: normal;
}

#header {
	font-size: 32px;
	text-transform: uppercase;
	line-height: 1;
	padding: 10px 0;
	margin-bottom: 10px;
	border-bottom: 2px solid #f0f;
}

#header, #summaryContainer, #overlayContainer > * {
	background-color: rgba(0, 0, 0, 0.2);
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#header h1 {
	text-shadow: 2px 2px 8px rgb(255 1 255 / 70%);
	font-size: 140%;
	margin: 0 auto;
}

#header h2 {
	font-size: 80%;
}

#overlayContainer > * {
	max-height: 452px;
	position: absolute;
	margin: auto;
	padding: 10px;
	border: 1px solid #fff;
}

#errorMessage {
	transform: translateX(-50%);
	left: 50%;
	right: auto;
}

#heroStats {
	width: 397px;
	left: 0;
	right: 0;
}

#heroStats > span {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.heroStatLabel, #heroPointsLabel, #backstoryLabel {
	max-width: 105px;
	float: left;
	clear: both;
}

.heroStatNumber {
	max-width: 28px;
	margin-right: 5px;
}

#backstorySelector, .heroStatText {
	max-width: 280px;
	clear: right;
}

.heroStatSlider, .heroStatNumber, .heroStatText, #heroPointsText, #backstorySelector {
	float: right;
}

.heroStatSlider {
	appearance: none;
	height: 5px;
	width: 160px;
	background: rgba(255, 255, 255, 0.15);
	border-radius: 2.5px;
	margin-top: 8px;
}

.heroStatSlider::-webkit-slider-thumb {
	appearance: none;
	width: 10px;
	height: 10px;
	background-color: #fff;
	cursor: pointer;
	border-radius: 50%;
}

#heroPointsLabel, #heroPointsText {
	margin-top: 5px;
}

#backstoryLabel, #backstorySelector {
	margin-top: 10px;
}

#actionSkills {
	display: flex;
	margin: auto;
	justify-content: center;
	flex-wrap: wrap;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#primaryActionSkills, #secondaryActionSkills {
	display: inline-flex;
	margin-bottom: 5px;
}

.actionSkill {
	position: relative;
	width: 207px;
	height: 72px;
	cursor: pointer;
	margin: 0 2.5px 0;
}

#skillTrees {
	display: flex;
	margin: 0 auto 10px;
	justify-content: center;
	flex-grow: 9999;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#primaryTree, #secondaryTree {
	display: inline-flex;
	margin: 0 2.5px 0;
}

.skillTree {
	width: 207px;
	height: 397px;
}

.skills {
	width: 174px;
	display: inline-block;
	margin-top: 20px;
}

.bgLayer {
	position: absolute;
	width: 207px;
	height: 397px;
	background: url("images/skill_bg.png") transparent;
}

.colorLayer {
	position: absolute;
	width: 205px;
	margin: 1px 0 0 1px;
	background-color: rgba(255, 255, 255, 0.25);
	background-image:
		repeating-linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 1px, transparent 1px, transparent 60px),
		repeating-linear-gradient(60deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 1px, transparent 1px, transparent 60px),
		linear-gradient(60deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1)),
		linear-gradient(120deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1));
	background-size: 70px 120px;
}

.progressLine {
	position: absolute;
	width: 205px;
	border: 1px solid #fff;
}

.skill {
	margin: 3px;
	width: 52px;
	height: 53px;
	cursor: pointer;
	position: relative;
	float: left;
}

.points {
	font-size: 15px;
	line-height: 15px;
	visibility: hidden;
	position: absolute;
	width: 22px;
	bottom: 0;
	right: 0;
	text-align: center;
	padding: 2px 2px 0 2px;
	border: 1px solid #fff;
	color: #fff;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.actionSkill .points {
	visibility: initial;
}

.tier, .totalPoints, .className {
	clear: both;
}

.className, .totalPoints {
	text-transform: uppercase;
	font-size: 24px;
	color: #fff;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	position: absolute;
	display: block;
	margin: -6px 0 0 4px;
	width: 199px;
}

.className {
	text-align: left;
	max-width: 150px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.totalPoints {
	text-align: right;
}

.partial .perLevel, .full .perLevel, .disabled, .disabled * {
	display: none!important;
	pointer-events: none;
}

.hidden, .hidden * {
	visibility: hidden!important;
	pointer-events: none;
}

.description {
	display: none;
	position: absolute;
	top: 0;
	width: 400px;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.75);
	border: 1px solid #fff;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	color: #fff;
	padding: 0 5px 5px;
	text-align: justify;
	text-align-last: center;
}

.label {
	width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.actionSkill .label:not(.full) {
	text-shadow: 2px 2px 8px rgb(255 1 255 / 70%);
}

.skill .label {
	font-size: 15px;
}

#primaryTree .description {
	right: 110%;
}

#secondaryTree .description {
	left: 110%;
}

.actionSkill .description {
	top: 110%;
	left: -25%;
}

.tier[data-level='4'] .description {
	top: auto;
	bottom: -59px;
}

.tier[data-level='4'] .description.shortTier4Description {
	top: 0;
	bottom: auto;
}

.tier[data-level='5'] .description {
	top: auto;
	bottom: 0;
}

@media (max-width: 1230px) {
	.description {
		position: fixed;
		top: auto!important;
		bottom: 10px!important;
		left: 50%!important;
		transform: translateX(-50%);
	}
}

.description h2 {
	padding: 2.5px 0;
	margin-bottom: 2.5px;
	font-size: 24px;
	border-bottom: 1px solid #fff;
}

#classSelectors, #extraButtons {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#classSelectors > *, #extraButtons > * {
	margin: 0 2.5px 0;
}

select, option, button {
	height: 26px;
	border: 1px solid #fff;
	background-color: #000;
	cursor: pointer;
	color: #fff;
}

:disabled {
	cursor: not-allowed;
}

button:active {
	background-color: #333;
}

#summaryContainer {
	flex-grow: 1;
	margin-top: auto;
	padding: 10px 10px 0;
	border-top: 2px solid #f0f;
}

#summaryContainer * {
	margin: auto;
	line-height: 1.1;
	max-width: 840px;
}

#primaryClassFeat, #secondaryClassFeat {
	float: left;
	border-top: 1px solid #fff;
	text-align: justify;
}

.classFeat {
	padding-top: 5px;
}

#summarySpacer {
	clear: both;
	height: 20px;
}

#summaryContainer .skillText {
	clear: both;
	border-top: 1px solid #fff;
	text-align: left;
}

#summaryContainer strong {
	display: block;
	font-weight: normal;
	font-size: 24px;
	float: left;
	clear: left;
	width: 200px;
	margin-top: 2.5px;
	text-align: right;
}

#summaryContainer .descriptionText {
	margin: 5px 0 5px 210px;
	text-align: justify;
}

#summaryContainer .perLevel {
	display: none;
}

#footer {
	font-size: 12px;
	text-transform: uppercase;
	padding-top: 15px;
	margin-bottom: 5px;
	color: #fff;
}

#footer a {
	color: #fff;
}

#footer a:hover {
	color: red;
}

.rainbow {
    background: linear-gradient(
        90deg,
        rgb(255, 0, 0) 0%,
        rgb(255, 154, 0) 10%,
        rgb(208, 222, 33) 20%,
        rgb(79, 220, 74) 30%,
        rgb(63, 218, 216) 40%,
        rgb(47, 201, 226) 50%,
        rgb(28, 127, 238) 60%,
        rgb(95, 21, 242) 70%,
        rgb(186, 12, 248) 80%,
        rgb(251, 7, 217) 90%,
        rgb(255, 0, 0) 100%
    );
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: rainbow_animation 4s linear 0s infinite forwards;
	background-size: 200% 100%;
	text-shadow: none!important;
}

@keyframes rainbow_animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 200% 0;
    }
}

.description .gold, #summaryContainer .gold {
	color: gold;
}

.description .blue, #summaryContainer .blue {
	color: #08f;
}

.description .pink, #summaryContainer .pink {
	color: #f0f;
}

.description .purple, #summaryContainer .purple {
	color: #8b008b;
}

.description .red, #summaryContainer .red {
	color: red;
}

.description .orange, #summaryContainer .orange, .partial, .partial .points {
	color: #f80;
}

.description .green, #summaryContainer .green, .full, .full .points {
	color: #0f0;
}

.skill.partial img {
	background: rgba(0, 0, 0, 0.2);
}

.skill.full img {
	background: rgba(0, 0, 0, 0.3);
}

.skill:hover .description {
	display: block;
}

.skill:hover .description:hover {
	display: none;
}

.actionSkill:hover .description {
	display: block;
}

.actionSkill:hover .description:hover {
	display: none;
}

.green .className {
	color: #41974d;
}

.blue .className {
	color: #2a87c7;
}

.red .className {
	color: #a93640;
}

.unavailable {
	cursor: not-allowed;
}

.unavailable:hover {
	text-decoration: none;
}

.stamp {
	font-size: 80%;
	width: 0;
	height: 0;
	overflow: visible;
	display: inline-block;
	position: absolute;
	transform: rotate(12deg);
	margin: 0.2em 0 0 0.2em;
}

@media (max-width: 700px) {
	.stamp {
		display: none;
	}
}